@if (TempData.ContainsKey("AlertMessage"))
{
    <div class="alert alert-@(TempData["AlertType"]) alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<!-- Your success page content here -->
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-2 ofsset-sm-5">
            <a class="btn btn-info text-dark" asp-action="Login" asp-controller="Account">Please Login !!!</a>
        </div>
    </div>
</div>

