<style>


    .myH1 {
        text-align: center;
        color: red;
        
    }

    .myH2 {
        text-align: center;
        color: orange;
    }



</style>

<h1 class="myH1">RESTRICTION</h1>
<h2 class="myH2">Please, Contact the Admin</h2>

@{
    Layout = null;
}

<p><a asp-controller="HelpDesk" asp-action="Index"><img src="~/uploadfile/backtolist_logo.png" style="width:30px; height:30px" /></a></p>
