

<p>NORMAL USER</p>


<button>
    <a class="nav-link text-dark" asp-area="" asp-controller="HelpDesk" asp-action="Create"><img src="~/uploadfile/createuser_logo.png" style="width:100px; height:100px" />Create Ticket</a>
</button>

<button>
	<a class="nav-link text-dark" asp-area="" asp-controller="HelpDesk" asp-action="Index"><img src="~/uploadfile/view_logo.jpg" style="width:100px; height:100px"/>View My Ticket</a>
</button>

<button>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="ShowsPendingData"><img src="~/uploadfile/graphimage.png" style="width:100px; height:100px" />Show Pending Graph</a>
</button>